<h2 mat-dialog-title>Deletar Herói</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Escolha um Herói</mat-label>
    <mat-select [(ngModel)]="selectHeroiId">
      <mat-option *ngFor="let hero of herois" [value]="hero.id">
        {{ hero.nomeHeroi }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="actions">
  <div *ngIf="error">
    <p *ngFor="let error of errorMessages" class="error-message">{{error.description}}</p>
  </div>
  <div class="buttons">
    <button (click)="Delete()">Salvar</button>
    <button (click)="Close()">Cancelar</button>
  </div>
</mat-dialog-actions>